# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# VSCode
.vscode/

# Temporary / build files
*.log
*.tmp
*.bak
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Project-specific
*.pptx
*.pdf
*mock.py
